<div class="header">
  <div class="row">
    <div class="col-md-12">
      <div class="navbar">
        <h1>
          <a href="/">beer clone &#x1F37B;</a>
        </h1>
        <span>about | beer | your profile</span>
      </div>
    </div>
  </div>
</div>
