<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <%- include("partials/_head") %>
  </head>

  <body>
  <%- include("partials/_header") %>
    <div class="body">
      <h2>check out a new pour</h2>
      <% for (let beer of beers) { %>
        <h4>
          <a href=<%=`beers/${beer.db_id}`%>><%=beer.name%></a>
        </h4>
      <% } %>
    </div>
  </body>
</html>
